# New Opening PopUpStore

Check Connection to fotocasa

In [1]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
from getpass import getpass
from sqlalchemy import inspect
from bs4 import BeautifulSoup
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
import os
import requests as r
import re
import geopy

In [ ]:
url = 'https://api.fotocasa.es/PropertySearch/Search?combinedLocationIds=724,14,28,173,0,28079,0,0,0&culture=es-ES&featureIds=130&hrefLangCultures=ca-ES%3Bes-ES%3Bde-DE%3Ben-GB&isMap=false&isNewConstruction=false&isNewConstructionPromotions=false&latitude=40.4096&longitude=-3.68624&pageNumber=1&platformId=1&sortOrderDesc=true&sortType=bumpdate&transactionTypeId=3&propertyTypeId=2'

In [ ]:
r.get(url)

## Flats for Rent

In [ ]:
headers = """accept: application/json, text/plain, */*
accept-encoding: gzip, deflate, br
accept-language: es-ES,es;q=0.9,fr;q=0.8,en;q=0.7,pl;q=0.6
cache-control: no-cache
origin: https://www.fotocasa.es
pragma: no-cache
referer: https://www.fotocasa.es/
sec-ch-ua: "Chromium";v="88", "Google Chrome";v="88", ";Not A Brand";v="99"
sec-ch-ua-mobile: ?0
sec-fetch-dest: empty
sec-fetch-mode: cors
sec-fetch-site: same-site
user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.182 Safari/537.36"""

In [ ]:
headers=dict(i.split(': ') for i in headers.split('\n'))

In [ ]:
resp = r.get(url, headers=headers)

In [ ]:
resp

In [ ]:
resp.json()

In [ ]:
data = resp.json()

In [ ]:
data.keys()

In [ ]:
df_test = pd.json_normalize(data['realEstates'])

In [ ]:
df_test

In [ ]:
url = 'https://api.fotocasa.es/PropertySearch/Search?combinedLocationIds=724,14,28,173,0,28079,0,0,0&culture=es-ES&featureIds=130&hrefLangCultures=ca-ES%3Bes-ES%3Bde-DE%3Ben-GB&isMap=false&isNewConstruction=false&isNewConstructionPromotions=false&latitude=40.4096&longitude=-3.68624&pageNumber=1&platformId=1&sortOrderDesc=true&sortType=bumpdate&transactionTypeId=3&propertyTypeId=2'
resp = r.get(url, headers=headers)
data = resp.json()
df = pd.json_normalize(data['realEstates'])
number_of_iteration=0
time.sleep(2)
print('Page number: 1 scanned')

In [ ]:
def get_df():
    url = 'https://api.fotocasa.es/PropertySearch/Search?combinedLocationIds=724,14,28,173,0,28079,0,0,0&culture=es-ES&featureIds=130&hrefLangCultures=ca-ES%3Bes-ES%3Bde-DE%3Ben-GB&isMap=false&isNewConstruction=false&isNewConstructionPromotions=false&latitude=40.4096&longitude=-3.68624&pageNumber=1&platformId=1&sortOrderDesc=true&sortType=bumpdate&transactionTypeId=3&propertyTypeId=2'
    resp = r.get(url, headers=headers)
    data = resp.json()
    df = pd.json_normalize(data['realEstates'])
    number_of_iteration=0
    time.sleep(2)
    for i in range(2,80):
        number_of_iteration+=1
        url = f'https://api.fotocasa.es/PropertySearch/Search?combinedLocationIds=724,14,28,173,0,28079,0,0,0&culture=es-ES&featureIds=130&hrefLangCultures=ca-ES%3Bes-ES%3Bde-DE%3Ben-GB&isMap=false&isNewConstruction=false&isNewConstructionPromotions=false&latitude=40.4096&longitude=-3.68624&pageNumber={i}&platformId=1&sortOrderDesc=true&sortType=bumpdate&transactionTypeId=3&propertyTypeId=2'
        resp = r.get(url, headers=headers)
        data = resp.json()
        df = df.append(pd.json_normalize(data['realEstates']))
        if number_of_iteration%10 and number_of_iteration:
            time.sleep(5)
        time.sleep(2)
        print(f'Page number: {i} scanned')
    df.to_json('df.json', orient='records')
    return df

In [ ]:
#get_df()

In [ ]:
df

In [ ]:
import os

In [ ]:
os.getcwd()

In [ ]:
pd.read_json('Madrid_rent.json')

## Flats for Sale

In [ ]:
url = 'https://api.fotocasa.es/PropertySearch/Search?combinedLocationIds=724,14,28,173,0,28079,0,0,0&culture=es-ES&hrefLangCultures=ca-ES%3Bes-ES%3Bde-DE%3Ben-GB&isMap=false&isNewConstruction=false&isNewConstructionPromotions=false&latitude=40.4096&longitude=-3.68624&pageNumber=1&platformId=1&sortOrderDesc=true&sortType=bumpdate&transactionTypeId=1&propertyTypeId=2'

In [ ]:
r.get(url)

In [ ]:
headers = """accept: application/json, text/plain, */*
accept-encoding: gzip, deflate, br
accept-language: es-ES,es;q=0.9,fr;q=0.8,en;q=0.7,pl;q=0.6
cache-control: no-cache
origin: https://www.fotocasa.es
pragma: no-cache
referer: https://www.fotocasa.es/
sec-ch-ua: "Chromium";v="88", "Google Chrome";v="88", ";Not A Brand";v="99"
sec-ch-ua-mobile: ?0
sec-fetch-dest: empty
sec-fetch-mode: cors
sec-fetch-site: same-site
user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.182 Safari/537.36"""

In [ ]:
headers=dict(i.split(': ') for i in headers.split('\n'))

In [ ]:
resp = r.get(url, headers=headers)

In [ ]:
resp

In [ ]:
resp.json()

In [ ]:
data = resp.json()

In [ ]:
data.keys()

In [ ]:
df_test = pd.json_normalize(data['realEstates'])

In [ ]:
len(df_test.columns)

In [ ]:
def get_df():
    url = 'https://api.fotocasa.es/PropertySearch/Search?combinedLocationIds=724,14,28,173,0,28079,0,0,0&culture=es-ES&hrefLangCultures=ca-ES%3Bes-ES%3Bde-DE%3Ben-GB&isMap=false&isNewConstruction=false&isNewConstructionPromotions=false&latitude=40.4096&longitude=-3.68624&pageNumber=1&platformId=1&sortOrderDesc=true&sortType=bumpdate&transactionTypeId=1&propertyTypeId=2'
    resp = r.get(url, headers=headers)
    data = resp.json()
    df = pd.json_normalize(data['realEstates'])
    number_of_iteration=0
    time.sleep(2)
    for i in range(2,556):
        number_of_iteration+=1
        url = f'https://api.fotocasa.es/PropertySearch/Search?combinedLocationIds=724,14,28,173,0,28079,0,0,0&culture=es-ES&hrefLangCultures=ca-ES%3Bes-ES%3Bde-DE%3Ben-GB&isMap=false&isNewConstruction=false&isNewConstructionPromotions=false&latitude=40.4096&longitude=-3.68624&pageNumber={i}&platformId=1&sortOrderDesc=true&sortType=bumpdate&transactionTypeId=1&propertyTypeId=2'
        resp = r.get(url, headers=headers)
        data = resp.json()
        df = df.append(pd.json_normalize(data['realEstates']))
        if number_of_iteration%10 and number_of_iteration:
            time.sleep(5)
        time.sleep(2)
        print(f'Page number: {i} scanned')
    df.to_json('Madrid_sale.json', orient='records')
    return df

In [ ]:
#get_df()

## Start Cleanning

In [ ]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
from getpass import getpass
from sqlalchemy import inspect
from bs4 import BeautifulSoup
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
import os
import requests as r
import re
import geopy

In [13]:
os.listdir()

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'analysis_and_conclussions.ipynb',
 'Madrid Rent.ipynb',
 'Madrid_salev1.json',
 'mvps',
 'New PopUpStore.pptx',
 'Outuput',
 'PopUpStoreV4.ipynb',
 'README.md',
 'Rent Apartments sql.ipynb',
 'rent_madridv1.json',
 'Trello_Miro_Pics',
 'Untitled.ipynb']

In [15]:
os.chdir('D:\\Repositories\\NewPoPUpStore\\Outuput')

In [16]:
sale = pd.read_json('Madrid_sale.orginal.json', orient='records')

In [17]:
sale

,id,promotionId,typeId,subtypeId,isNew,isPremium,multimedias,features,otherFeatures,transactions,...,address.location.level5Id,address.location.level6Id,address.location.level7Id,address.location.level8Id,address.coordinates.accuracy,address.coordinates.latitude,address.coordinates.longitude,address.zipCode,address.customZone,advertiser.logo
0,150476642,0,2,3,False,True,[{'url': 'https://d.inmofactory.com/1/100202/1...,"[{'key': 'bathrooms', 'value': [5], 'minValue'...",NaN,"[{'transactionTypeId': 1, 'value': [2200000], ...",...,28079,0,678,90,0,40.45485,-3.630255,28043,NaN,NaN
1,157313689,0,2,1,False,True,[{'url': 'https://my.matterport.com/show/?m=fi...,"[{'key': 'bathrooms', 'value': [1], 'minValue'...",NaN,"[{'transactionTypeId': 1, 'value': [405000], '...",...,28079,0,176,116,0,40.44738,-3.668194,28002,NaN,NaN
2,153519540,0,2,55,False,True,[{'url': 'https://d.inmofactory.com/1/100207/1...,"[{'key': 'bathrooms', 'value': [6], 'minValue'...",NaN,"[{'transactionTypeId': 1, 'value': [1930000], ...",...,28079,0,187,16,0,40.50451,-3.692709,28034,NaN,NaN
3,154298390,0,2,55,False,True,[{'url': 'https://images.inmofactory.com/inmof...,"[{'key': 'bathrooms', 'value': [6], 'minValue'...",NaN,"[{'transactionTypeId': 1, 'value': [1930000], ...",...,28079,0,187,16,0,40.50597,-3.692078,28034,NaN,NaN
4,158184418,0,2,1,False,True,[{'url': 'https://d.inmofactory.com/1/89548/26...,"[{'key': 'bathrooms', 'value': [2], 'minValue'...",NaN,"[{'transactionTypeId': 1, 'value': [485000], '...",...,28079,0,176,113,0,40.44738,-3.675195,28002,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16651,158823456,0,2,1,False,False,[{'url': 'https://d.inmofactory.com/1/85276/27...,"[{'key': 'bathrooms', 'value': [1], 'minValue'...",NaN,"[{'transactionTypeId': 1, 'value': [115000], '...",...,28079,0,676,79,0,40.42985,-3.613449,28037,NaN,NaN
16652,158823310,0,2,8,False,False,[{'url': 'https://d.inmofactory.com/1/85276/27...,"[{'key': 'bathrooms', 'value': [2], 'minValue'...",NaN,"[{'transactionTypeId': 1, 'value': [179000], '...",...,28079,0,676,72,0,40.41291,-3.585160,28032,NaN,NaN
16653,158823307,0,2,1,False,False,[{'url': 'https://d.inmofactory.com/1/98925/27...,"[{'key': 'bathrooms', 'value': [1], 'minValue'...",NaN,"[{'transactionTypeId': 1, 'value': [137000], '...",...,28079,0,668,27,0,40.45087,-3.582744,28042,NaN,NaN
16654,158823262,0,2,1,False,False,[{'url': 'https://d.inmofactory.com/1/85276/27...,"[{'key': 'bathrooms', 'value': [1], 'minValue'...",NaN,"[{'transactionTypeId': 1, 'value': [115000], '...",...,28079,0,676,76,0,40.42963,-3.625728,28037,NaN,NaN
16655,158823219,0,2,1,False,False,[{'url': 'https://d.inmofactory.com/1/88669/27...,"[{'key': 'bathrooms', 'value': [1], 'minValue'...",NaN,"[{'transactionTypeId': 1, 'value': [380000], '...",...,28079,0,667,18,1,40.42808,-3.675250,28006,NaN,NaN

In [18]:
rent = pd.read_json('Madrid_rent.json', orient='records')

In [19]:
sale = pd.DataFrame(sale)

In [20]:
rent = pd.DataFrame(rent)

## Duplicated - Sale

In [21]:
sale = sale.set_index(sale['id'])

In [22]:
len(sale)

16656

In [23]:
sale = sale.drop_duplicates(subset=['id'])

In [24]:
len(sale)

9280

## Duplicated - Rent

In [25]:
rent = rent.set_index(rent['id'])

In [26]:
len(rent)

2356

In [27]:
rent = rent.drop_duplicates(subset=['id'])

In [28]:
len(rent)

2277

## Cleaning Features column

In [29]:
sale.dtypes

id                                                 int64
promotionId                                        int64
typeId                                             int64
subtypeId                                          int64
isNew                                               bool
isPremium                                           bool
multimedias                                       object
features                                          object
otherFeatures                                    float64
transactions                                      object
products                                          object
date                                 datetime64[ns, UTC]
description                                       object
isTop                                               bool
isPhotoReport                                       bool
isMsAdvance                                         bool
promotionTypeId                                    int64
promotionUrl                                     float64
isExternalContact                                   bool
isVirtualTour                                       bool
advertiser.logo.multimedia.url                    object
advertiser.logo.multimedia.typeId                float64
advertiser.logo.url.es                            object
advertiser.phone                                  object
advertiser.typeId                                  int64
advertiser.clientId                                int64
advertiser.urlAlias                               object
advertiser.clientAlias                            object
detail.es                                         object
address.ubication                                 object
address.location.country                          object
address.location.level1                           object
address.location.level2                           object
address.location.level3                           object
address.location.level4                           object
address.location.level5                           object
address.location.level6                           object
address.location.level7                           object
address.location.level8                           object
address.location.upperLevel                       object
address.location.countryId                         int64
address.location.level1Id                          int64
address.location.level2Id                          int64
address.location.level3Id                          int64
address.location.level4Id                          int64
address.location.level5Id                          int64
address.location.level6Id                          int64
address.location.level7Id                          int64
address.location.level8Id                          int64
address.coordinates.accuracy                       int64
address.coordinates.latitude                     float64
address.coordinates.longitude                    float64
address.zipCode                                   object
address.customZone                               float64
advertiser.logo                                  float64
dtype: object

In [30]:
sale.index

Int64Index([150476642, 157313689, 153519540, 154298390, 158184418, 151395833,
            158640294, 158832687, 158859368, 158870851,
            ...
            157361240, 157924150, 158823492, 158823469, 155208692, 158823456,
            158823310, 158823307, 158823262, 158823219],
           dtype='int64', name='id', length=9280)

In [31]:
sale.shape

(9280, 55)

In [32]:
sale.size

510400

In [33]:
sale.head()

,id,promotionId,typeId,subtypeId,isNew,isPremium,multimedias,features,otherFeatures,transactions,...,address.location.level5Id,address.location.level6Id,address.location.level7Id,address.location.level8Id,address.coordinates.accuracy,address.coordinates.latitude,address.coordinates.longitude,address.zipCode,address.customZone,advertiser.logo
id,,,,,,,,,,,,,,,,,,,,,
150476642,150476642,0,2,3,False,True,[{'url': 'https://d.inmofactory.com/1/100202/1...,"[{'key': 'bathrooms', 'value': [5], 'minValue'...",NaN,"[{'transactionTypeId': 1, 'value': [2200000], ...",...,28079,0,678,90,0,40.45485,-3.630255,28043,NaN,NaN
157313689,157313689,0,2,1,False,True,[{'url': 'https://my.matterport.com/show/?m=fi...,"[{'key': 'bathrooms', 'value': [1], 'minValue'...",NaN,"[{'transactionTypeId': 1, 'value': [405000], '...",...,28079,0,176,116,0,40.44738,-3.668194,28002,NaN,NaN
153519540,153519540,0,2,55,False,True,[{'url': 'https://d.inmofactory.com/1/100207/1...,"[{'key': 'bathrooms', 'value': [6], 'minValue'...",NaN,"[{'transactionTypeId': 1, 'value': [1930000], ...",...,28079,0,187,16,0,40.50451,-3.692709,28034,NaN,NaN
154298390,154298390,0,2,55,False,True,[{'url': 'https://images.inmofactory.com/inmof...,"[{'key': 'bathrooms', 'value': [6], 'minValue'...",NaN,"[{'transactionTypeId': 1, 'value': [1930000], ...",...,28079,0,187,16,0,40.50597,-3.692078,28034,NaN,NaN
158184418,158184418,0,2,1,False,True,[{'url': 'https://d.inmofactory.com/1/89548/26...,"[{'key': 'bathrooms', 'value': [2], 'minValue'...",NaN,"[{'transactionTypeId': 1, 'value': [485000], '...",...,28079,0,176,113,0,40.44738,-3.675195,28002,NaN,NaN

In [34]:
pd.DataFrame(sale['features'])

                                                    features
id
150476642  [{'key': 'bathrooms', 'value': [5], 'minValue'...
157313689  [{'key': 'bathrooms', 'value': [1], 'minValue'...
153519540  [{'key': 'bathrooms', 'value': [6], 'minValue'...
154298390  [{'key': 'bathrooms', 'value': [6], 'minValue'...
158184418  [{'key': 'bathrooms', 'value': [2], 'minValue'...
...                                                      ...
158823456  [{'key': 'bathrooms', 'value': [1], 'minValue'...
158823310  [{'key': 'bathrooms', 'value': [2], 'minValue'...
158823307  [{'key': 'bathrooms', 'value': [1], 'minValue'...
158823262  [{'key': 'bathrooms', 'value': [1], 'minValue'...
158823219  [{'key': 'bathrooms', 'value': [1], 'minValue'...

[9280 rows x 1 columns]

In [35]:
features = pd.DataFrame(sale['features'])

In [36]:
features = features.apply(pd.Series)

In [37]:
features['features'].apply(pd.Series)

,0,1,2,3,4,5,6,7
id,,,,,,,,
150476642,"{'key': 'bathrooms', 'value': [5], 'minValue':...","{'key': 'conservationState', 'value': [2], 'mi...","{'key': 'terrace', 'value': [1], 'minValue': 0...","{'key': 'rooms', 'value': [5], 'minValue': 0, ...","{'key': 'surface', 'value': [554], 'minValue':...",NaN,NaN,NaN
157313689,"{'key': 'bathrooms', 'value': [1], 'minValue':...","{'key': 'conservationState', 'value': [3], 'mi...","{'key': 'floor', 'value': [7], 'minValue': 0, ...","{'key': 'elevator', 'value': [1], 'minValue': ...","{'key': 'rooms', 'value': [3], 'minValue': 0, ...","{'key': 'surface', 'value': [80], 'minValue': ...",NaN,NaN
153519540,"{'key': 'bathrooms', 'value': [6], 'minValue':...","{'key': 'conservationState', 'value': [1], 'mi...","{'key': 'terrace', 'value': [1], 'minValue': 0...","{'key': 'rooms', 'value': [5], 'minValue': 0, ...","{'key': 'surface', 'value': [547], 'minValue':...",NaN,NaN,NaN
154298390,"{'key': 'bathrooms', 'value': [6], 'minValue':...","{'key': 'conservationState', 'value': [1], 'mi...","{'key': 'terrace', 'value': [1], 'minValue': 0...","{'key': 'rooms', 'value': [5], 'minValue': 0, ...","{'key': 'surface', 'value': [547], 'minValue':...",NaN,NaN,NaN
158184418,"{'key': 'bathrooms', 'value': [2], 'minValue':...","{'key': 'conservationState', 'value': [4], 'mi...","{'key': 'floor', 'value': [8], 'minValue': 0, ...","{'key': 'elevator', 'value': [1], 'minValue': ...","{'key': 'rooms', 'value': [4], 'minValue': 0, ...","{'key': 'surface', 'value': [133], 'minValue':...",NaN,NaN
...,...,...,...,...,...,...,...,...
158823456,"{'key': 'bathrooms', 'value': [1], 'minValue':...","{'key': 'conservationState', 'value': [4], 'mi...","{'key': 'floor', 'value': [6], 'minValue': 0, ...","{'key': 'rooms', 'value': [3], 'minValue': 0, ...","{'key': 'surface', 'value': [62], 'minValue': ...",NaN,NaN,NaN
158823310,"{'key': 'bathrooms', 'value': [2], 'minValue':...","{'key': 'floor', 'value': [6], 'minValue': 0, ...","{'key': 'terrace', 'value': [1], 'minValue': 0...","{'key': 'elevator', 'value': [1], 'minValue': ...","{'key': 'rooms', 'value': [2], 'minValue': 0, ...","{'key': 'surface', 'value': [83], 'minValue': ...",NaN,NaN
158823307,"{'key': 'bathrooms', 'value': [1], 'minValue':...","{'key': 'conservationState', 'value': [3], 'mi...","{'key': 'floor', 'value': [6], 'minValue': 0, ...","{'key': 'rooms', 'value': [1], 'minValue': 0, ...","{'key': 'surface', 'value': [56], 'minValue': ...",NaN,NaN,NaN
158823262,"{'key': 'bathrooms', 'value': [1], 'minValue':...","{'key': 'conservationState', 'value': [1], 'mi...","{'key': 'rooms', 'value': [2], 'minValue': 0, ...","{'key': 'surface', 'value': [48], 'minValue': ...",NaN,NaN,NaN,NaN
158823219,"{'key': 'bathrooms', 'value': [1], 'minValue':...","{'key': 'conservationState', 'value': [2], 'mi...","{'key': 'floor', 'value': [6], 'minValue': 0, ...","{'key': 'elevator', 'value': [1], 'minValue': ...","{'key': 'rooms', 'value': [2], 'minValue': 0, ...","{'key': 'surface', 'value': [90], 'minValue': ...",NaN,NaN

In [38]:
features = features['features'].apply(pd.Series)

In [ ]:
#feats0 = features[0].apply(pd.Series)

In [39]:
feats0 = features[0].apply(pd.Series)
feats1 = features[1].apply(pd.Series)
feats2 = features[2].apply(pd.Series)
feats3 = features[3].apply(pd.Series)
feats4 = features[4].apply(pd.Series)
feats5 = features[5].apply(pd.Series)
feats6 = features[6].apply(pd.Series)
feats7 = features[7].apply(pd.Series)

In [40]:
feats0

            0        key  maxValue  minValue value
id
150476642 NaN  bathrooms       0.0       0.0   [5]
157313689 NaN  bathrooms       0.0       0.0   [1]
153519540 NaN  bathrooms       0.0       0.0   [6]
154298390 NaN  bathrooms       0.0       0.0   [6]
158184418 NaN  bathrooms       0.0       0.0   [2]
...        ..        ...       ...       ...   ...
158823456 NaN  bathrooms       0.0       0.0   [1]
158823310 NaN  bathrooms       0.0       0.0   [2]
158823307 NaN  bathrooms       0.0       0.0   [1]
158823262 NaN  bathrooms       0.0       0.0   [1]
158823219 NaN  bathrooms       0.0       0.0   [1]

[9280 rows x 5 columns]

In [42]:
feats0.shape

(9280, 5)

In [44]:
feats0.columns

Index([0, 'key', 'maxValue', 'minValue', 'value'], dtype='object')

In [45]:
feats0 = feats0.drop([0, 'maxValue', 'minValue'], axis=1)
feats1 = feats1.drop([0, 'maxValue', 'minValue'], axis=1)
feats2 = feats2.drop([0, 'maxValue', 'minValue'], axis=1)
feats3 = feats3.drop([0, 'maxValue', 'minValue'], axis=1)
feats4 = feats4.drop([0, 'maxValue', 'minValue'], axis=1)
feats5 = feats5.drop([0, 'maxValue', 'minValue'], axis=1)
feats6 = feats6.drop([0, 'maxValue', 'minValue'], axis=1)
feats7 = feats7.drop([0, 'maxValue', 'minValue'], axis=1)

In [46]:
feats0.shape

(9280, 2)

In [ ]:
#feats['value'] = feats['value'].map(lambda x: str(x).strip('[]'))

In [47]:
feats0['value'] = feats0['value'].map(lambda x: str(x).strip('[]'))
feats1['value'] = feats1['value'].map(lambda x: str(x).strip('[]'))
feats2['value'] = feats2['value'].map(lambda x: str(x).strip('[]'))
feats3['value'] = feats3['value'].map(lambda x: str(x).strip('[]'))
feats4['value'] = feats4['value'].map(lambda x: str(x).strip('[]'))
feats5['value'] = feats5['value'].map(lambda x: str(x).strip('[]'))
feats6['value'] = feats6['value'].map(lambda x: str(x).strip('[]'))
feats7['value'] = feats7['value'].map(lambda x: str(x).strip('[]'))

In [49]:
feats0

                 key value
id
150476642  bathrooms     5
157313689  bathrooms     1
153519540  bathrooms     6
154298390  bathrooms     6
158184418  bathrooms     2
...              ...   ...
158823456  bathrooms     1
158823310  bathrooms     2
158823307  bathrooms     1
158823262  bathrooms     1
158823219  bathrooms     1

[9280 rows x 2 columns]

In [51]:
feats0['value'].isna().sum()

0

In [ ]:
# feats['value'] = feats['value'].astype('float')

In [52]:
feats0['value'] = feats0['value'].astype('float')
feats1['value'] = feats1['value'].astype('float')
feats2['value'] = feats2['value'].astype('float')
feats3['value'] = feats3['value'].astype('float')
feats4['value'] = feats4['value'].astype('float')
feats5['value'] = feats5['value'].astype('float')
feats6['value'] = feats6['value'].astype('float')
feats7['value'] = feats7['value'].astype('float')

In [ ]:
#feats['value'] = feats['value'].fillna(value=0)

In [53]:
feats0['value'] = feats0['value'].fillna(value=0)
feats1['value'] = feats1['value'].fillna(value=0)
feats2['value'] = feats2['value'].fillna(value=0)
feats3['value'] = feats3['value'].fillna(value=0)
feats4['value'] = feats4['value'].fillna(value=0)
feats5['value'] = feats5['value'].fillna(value=0)
feats6['value'] = feats6['value'].fillna(value=0)
feats7['value'] = feats7['value'].fillna(value=0)

In [ ]:
#feats['value'] = feats['value'].astype('int64')

In [54]:
feats0['value'] = feats0['value'].astype('int64')
feats1['value'] = feats1['value'].astype('int64')
feats2['value'] = feats2['value'].astype('int64')
feats3['value'] = feats3['value'].astype('int64')
feats4['value'] = feats4['value'].astype('int64')
feats5['value'] = feats5['value'].astype('int64')
feats6['value'] = feats6['value'].astype('int64')
feats7['value'] = feats7['value'].astype('int64')

In [ ]:
#feats.drop([158149988], inplace=True)

In [ ]:
#feats = pd.pivot_table(feats, index=['id'], columns=feats['key'])

In [58]:
feats0 = pd.pivot_table(feats0, index=['id'], columns=feats0['key'])
feats1 = pd.pivot_table(feats1, index=['id'], columns=feats1['key'])
feats2 = pd.pivot_table(feats2, index=['id'], columns=feats2['key'])
feats3 = pd.pivot_table(feats3, index=['id'], columns=feats3['key'])
feats4 = pd.pivot_table(feats4, index=['id'], columns=feats4['key'])
feats5 = pd.pivot_table(feats5, index=['id'], columns=feats5['key'])
feats6 = pd.pivot_table(feats6, index=['id'], columns=feats6['key'])
feats7 = pd.pivot_table(feats7, index=['id'], columns=feats7['key'])

In [59]:
right0 = feats0.add(feats1, fill_value=0)
right1 = feats2.add(feats3, fill_value=0)
right2 = feats4.add(feats5, fill_value=0)
right3 = feats6.add(feats7, fill_value=0)
right4 = right0.add(right1, fill_value=0)
right5 = right2.add(right3, fill_value=0)
features_d = right4.add(right5, fill_value=0)

In [61]:
features_d

              value                                                         \
key       bathrooms conservationState elevator floor parking rooms surface
id
126502387       2.0               NaN      1.0   9.0     NaN   2.0    95.0
126510669       1.0               NaN      1.0   6.0     NaN   1.0    80.0
129014252       9.0               2.0      NaN   3.0     NaN   7.0  1300.0
129864463       1.0               NaN      1.0   8.0     1.0   NaN    80.0
129864591       2.0               NaN      1.0   3.0     1.0   NaN    93.0
...             ...               ...      ...   ...     ...   ...     ...
158984488       1.0               1.0      NaN   3.0     NaN   1.0    50.0
158984518       2.0               1.0      1.0   NaN     1.0   3.0    93.0
158984533       1.0               3.0      1.0   8.0     NaN   3.0    93.0
158984567       3.0               NaN      NaN   NaN     NaN   NaN   307.0
158984617       2.0               4.0      1.0   6.0     NaN   5.0   191.0


key       terrace
id
126502387     1.0
126510669     NaN
129014252     NaN
129864463     1.0
129864591     1.0
...           ...
158984488     NaN
158984518     NaN
158984533     NaN
158984567     1.0
158984617     NaN

[9279 rows x 8 columns]

In [62]:
sale['bathrooms']=features_d.value['bathrooms']

In [63]:
sale['conservationState'] = features_d.value['conservationState']

In [64]:
sale['elevator'] = features_d.value['elevator']

In [65]:
sale['floor'] = features_d.value['floor']

In [66]:
sale['parking'] = features_d.value['parking']

In [67]:
sale['rooms'] = features_d.value['rooms']

In [68]:
sale['surface'] = features_d.value['surface']

In [69]:
sale['terrace'] = features_d.value['terrace']

In [70]:
sale.to_json('Madrid_sale.json', orient='records')

In [ ]:
sale.to_json('Madrid_salev1.json', orient='records')

## Droping some Columns isna()

In [71]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
from getpass import getpass
from sqlalchemy import inspect
from bs4 import BeautifulSoup
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
import os
import requests as r
import re
import geopy

In [72]:
sale = pd.read_json('Madrid_salev1.json', orient='records')

ValueError: Expected object or value

In [3]:
sale.columns

Index(['id', 'multimedias', 'transactions', 'products', 'date', 'description',
       'advertiser.logo.multimedia.typeId', 'detail.es', 'address.ubication',
       'address.location.country', 'address.location.level1',
       'address.location.level2', 'address.location.level3',
       'address.location.level5', 'address.location.level7',
       'address.location.level8', 'address.location.upperLevel',
       'address.location.countryId', 'address.location.level1Id',
       'address.location.level2Id', 'address.location.level3Id',
       'address.location.level4Id', 'address.location.level5Id',
       'address.location.level6Id', 'address.location.level7Id',
       'address.location.level8Id', 'address.coordinates.accuracy',
       'address.coordinates.latitude', 'address.coordinates.longitude',
       'address.zipCode', 'bathrooms', 'conservationState', 'elevator',
       'floor', 'parking', 'rooms', 'surface', 'terrace'],
      dtype='object')

In [ ]:
sale = sale.drop(['advertiser.phone', 'advertiser.typeId', 'advertiser.clientId','advertiser.urlAlias', 'advertiser.clientAlias','address.location.level4', 'address.location.level6','promotionId','typeId','subtypeId', 'isNew', 'isTop', 'isPhotoReport', 'isMsAdvance', 'isExternalContact','promotionId'], axis=1)

In [14]:
sale.to_json('Madrid_salev1.json', orient='records')

In [298]:
sale = sale.drop(['products', 'advertiser.logo.multimedia.typeId'], axis=1)

## Lets attack multimedia column

In [299]:
sale

,id,multimedias,transactions,date,description,detail.es,address.ubication,address.location.country,address.location.level1,address.location.level2,...,address.zipCode,bathrooms,conservationState,elevator,floor,parking,rooms,surface,terrace,multimedia
id,,,,,,,,,,,,,,,,,,,,,
150476642,150476642,[{'url': 'https://d.inmofactory.com/1/100202/1...,2200000,2021-02-19 15:40:40.138,"GILMAR Consulting Inmobiliario Madrid, Conde O...",/es/comprar/vivienda/madrid-capital/calefaccio...,"Andarrios, Hortaleza",España,Madrid,Madrid,...,28043,5.0,2.0,NaN,NaN,NaN,5.0,554.0,1.0,[{'url': 'https://d.inmofactory.com/1/100202/1...
157313689,157313689,[{'url': 'https://my.matterport.com/show/?m=fi...,405000,2021-02-19 15:40:40.138,"Gilmar ofrece, magnifica Vivienda, Ubicada en ...",/es/comprar/vivienda/madrid-capital/aire-acond...,Chamartín,España,Madrid,Madrid,...,28002,1.0,3.0,1.0,7.0,NaN,3.0,80.0,NaN,[{'url': 'https://my.matterport.com/show/?m=fi...
153519540,153519540,[{'url': 'https://d.inmofactory.com/1/100207/1...,1930000,2021-02-19 15:40:40.138,Gilmar Mirasierra - Puerta de Hierro (91771777...,/es/comprar/vivienda/madrid-capital/aire-acond...,Fuencarral,España,Madrid,Madrid,...,28034,6.0,1.0,NaN,NaN,NaN,5.0,547.0,1.0,[{'url': 'https://d.inmofactory.com/1/100207/1...
154298390,154298390,[{'url': 'https://images.inmofactory.com/inmof...,1930000,2021-02-19 15:40:40.138,Gilmar Mirasierra - Puerta de Hierro (91771777...,/es/comprar/vivienda/madrid-capital/aire-acond...,Fuencarral,España,Madrid,Madrid,...,28034,6.0,1.0,NaN,NaN,NaN,5.0,547.0,1.0,[{'url': 'https://images.inmofactory.com/inmof...
158184418,158184418,[{'url': 'https://d.inmofactory.com/1/89548/26...,485000,2021-02-19 15:40:40.138,"Magnifica vivienda en Ciudad Jardín, \r\n\r\nP...",/es/comprar/vivienda/madrid-capital/calefaccio...,Chamartín,España,Madrid,Madrid,...,28002,2.0,4.0,1.0,8.0,NaN,4.0,133.0,NaN,[{'url': 'https://d.inmofactory.com/1/89548/26...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158823456,158823456,[{'url': 'https://d.inmofactory.com/1/85276/27...,115000,2021-02-05 11:43:44.497,Piso para actualizar en Zona Hellín.\r\n\r\nFa...,/es/comprar/vivienda/madrid-capital/aire-acond...,"Calle de Hinojosa del Duque, San Blas",España,Madrid,Madrid,...,28037,1.0,4.0,NaN,6.0,NaN,3.0,62.0,NaN,[{'url': 'https://d.inmofactory.com/1/85276/27...
158823310,158823310,[{'url': 'https://d.inmofactory.com/1/85276/27...,179000,2021-02-05 11:35:14.360,"Magnífico dúplex loft a dos alturas, totalment...",/es/comprar/vivienda/madrid-capital/aire-acond...,"Carretera de Vicálvaro a la Estac. O'donnell, ...",España,Madrid,Madrid,...,28032,2.0,NaN,1.0,6.0,NaN,2.0,83.0,1.0,[{'url': 'https://d.inmofactory.com/1/85276/27...
158823307,158823307,[{'url': 'https://d.inmofactory.com/1/98925/27...,137000,2021-02-05 11:34:53.280,"Luminosa vivienda de 56 m2, amplio salón con c...",/es/comprar/vivienda/madrid-capital/aire-acond...,"Calle Garganchón, Barajas",España,Madrid,Madrid,...,28042,1.0,3.0,NaN,6.0,NaN,1.0,56.0,NaN,[{'url': 'https://d.inmofactory.com/1/98925/27...
158823262,158823262,[{'url': 'https://d.inmofactory.com/1/85276/27...,115000,2021-02-05 11:31:41.277,"Fantástico Piso en zona Simancas, Impecable, t...",/es/comprar/vivienda/madrid-capital/aire-acond...,"Calle de Zubieta, San Blas",España,Madrid,Madrid,...,28037,1.0,1.0,NaN,NaN,NaN,2.0,48.0,NaN,[{'url': 'https://d.inmofactory.com/1/85276/27...
158823219,158823219,[{'url': 'https://d.inmofactory.com/1/88669/27...,380000,2021-02-05 11:29:45.217,"""Piso inteio, muy tranquilo en el corazón del ...",/es/comprar/vivienda/madrid-capital/aire-acond...,"Calle del Conde de Peñalver, 30, Salamanca",España,Madrid,Madrid,...,28006,1.0,2.0,1.0,6.0,NaN,2.0,90.0,NaN,[{'url': 'https://d.inmofactory.com/1/88669/27...

In [100]:
sale = sale.set_index(sale['id'])

In [252]:
multimedia = pd.DataFrame(sale['multimedias'])

In [253]:
sale['multimedia']=multimedia['multimedias']

## Let's go for the price of the flat

In [269]:
price = pd.DataFrame(sale['transactions'])

In [273]:
price = price['transactions'].apply(pd.Series)

In [286]:
price = price[0].apply(pd.Series)

In [288]:
price['value'] = price['value'].map(lambda x: str(x).strip('[]'))

In [290]:
price['value'] = price['value'].astype('int64')

In [291]:
sale['transactions'] = price['value']

,id,multimedias,transactions,products,date,description,advertiser.logo.multimedia.typeId,detail.es,address.ubication,address.location.country,...,address.zipCode,bathrooms,conservationState,elevator,floor,parking,rooms,surface,terrace,multimedia
id,,,,,,,,,,,,,,,,,,,,,
150476642,150476642,[{'url': 'https://d.inmofactory.com/1/100202/1...,2200000,[{'id': 56}],2021-02-19 15:40:40.138,"GILMAR Consulting Inmobiliario Madrid, Conde O...",8.0,/es/comprar/vivienda/madrid-capital/calefaccio...,"Andarrios, Hortaleza",España,...,28043,5.0,2.0,NaN,NaN,NaN,5.0,554.0,1.0,[{'url': 'https://d.inmofactory.com/1/100202/1...
157313689,157313689,[{'url': 'https://my.matterport.com/show/?m=fi...,405000,[{'id': 56}],2021-02-19 15:40:40.138,"Gilmar ofrece, magnifica Vivienda, Ubicada en ...",8.0,/es/comprar/vivienda/madrid-capital/aire-acond...,Chamartín,España,...,28002,1.0,3.0,1.0,7.0,NaN,3.0,80.0,NaN,[{'url': 'https://my.matterport.com/show/?m=fi...
153519540,153519540,[{'url': 'https://d.inmofactory.com/1/100207/1...,1930000,"[{'id': 3}, {'id': 56}]",2021-02-19 15:40:40.138,Gilmar Mirasierra - Puerta de Hierro (91771777...,8.0,/es/comprar/vivienda/madrid-capital/aire-acond...,Fuencarral,España,...,28034,6.0,1.0,NaN,NaN,NaN,5.0,547.0,1.0,[{'url': 'https://d.inmofactory.com/1/100207/1...
154298390,154298390,[{'url': 'https://images.inmofactory.com/inmof...,1930000,[{'id': 56}],2021-02-19 15:40:40.138,Gilmar Mirasierra - Puerta de Hierro (91771777...,8.0,/es/comprar/vivienda/madrid-capital/aire-acond...,Fuencarral,España,...,28034,6.0,1.0,NaN,NaN,NaN,5.0,547.0,1.0,[{'url': 'https://images.inmofactory.com/inmof...
158184418,158184418,[{'url': 'https://d.inmofactory.com/1/89548/26...,485000,[{'id': 56}],2021-02-19 15:40:40.138,"Magnifica vivienda en Ciudad Jardín, \r\n\r\nP...",8.0,/es/comprar/vivienda/madrid-capital/calefaccio...,Chamartín,España,...,28002,2.0,4.0,1.0,8.0,NaN,4.0,133.0,NaN,[{'url': 'https://d.inmofactory.com/1/89548/26...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158823456,158823456,[{'url': 'https://d.inmofactory.com/1/85276/27...,115000,[{'id': 62}],2021-02-05 11:43:44.497,Piso para actualizar en Zona Hellín.\r\n\r\nFa...,8.0,/es/comprar/vivienda/madrid-capital/aire-acond...,"Calle de Hinojosa del Duque, San Blas",España,...,28037,1.0,4.0,NaN,6.0,NaN,3.0,62.0,NaN,[{'url': 'https://d.inmofactory.com/1/85276/27...
158823310,158823310,[{'url': 'https://d.inmofactory.com/1/85276/27...,179000,"[{'id': 62}, {'id': 56}]",2021-02-05 11:35:14.360,"Magnífico dúplex loft a dos alturas, totalment...",8.0,/es/comprar/vivienda/madrid-capital/aire-acond...,"Carretera de Vicálvaro a la Estac. O'donnell, ...",España,...,28032,2.0,NaN,1.0,6.0,NaN,2.0,83.0,1.0,[{'url': 'https://d.inmofactory.com/1/85276/27...
158823307,158823307,[{'url': 'https://d.inmofactory.com/1/98925/27...,137000,[],2021-02-05 11:34:53.280,"Luminosa vivienda de 56 m2, amplio salón con c...",8.0,/es/comprar/vivienda/madrid-capital/aire-acond...,"Calle Garganchón, Barajas",España,...,28042,1.0,3.0,NaN,6.0,NaN,1.0,56.0,NaN,[{'url': 'https://d.inmofactory.com/1/98925/27...
158823262,158823262,[{'url': 'https://d.inmofactory.com/1/85276/27...,115000,[{'id': 62}],2021-02-05 11:31:41.277,"Fantástico Piso en zona Simancas, Impecable, t...",8.0,/es/comprar/vivienda/madrid-capital/aire-acond...,"Calle de Zubieta, San Blas",España,...,28037,1.0,1.0,NaN,NaN,NaN,2.0,48.0,NaN,[{'url': 'https://d.inmofactory.com/1/85276/27...
158823219,158823219,[{'url': 'https://d.inmofactory.com/1/88669/27...,380000,[{'id': 3}],2021-02-05 11:29:45.217,"""Piso inteio, muy tranquilo en el corazón del ...",NaN,/es/comprar/vivienda/madrid-capital/aire-acond...,"Calle del Conde de Peñalver, 30, Salamanca",España,...,28006,1.0,2.0,1.0,6.0,NaN,2.0,90.0,NaN,[{'url': 'https://d.inmofactory.com/1/88669/27...

In [293]:
sale.to_json('Madrid_salev1.json', orient='records')

In [303]:
sale.rename(columns={'transactions':'price'}, inplace=True)

In [305]:
sale.to_json('Madrid_salev1.json', orient='records')

In [304]:
sale

,id,multimedias,price,date,description,detail.es,address.ubication,address.location.country,address.location.level1,address.location.level2,...,address.zipCode,bathrooms,conservationState,elevator,floor,parking,rooms,surface,terrace,multimedia
id,,,,,,,,,,,,,,,,,,,,,
150476642,150476642,[{'url': 'https://d.inmofactory.com/1/100202/1...,2200000,2021-02-19 15:40:40.138,"GILMAR Consulting Inmobiliario Madrid, Conde O...",/es/comprar/vivienda/madrid-capital/calefaccio...,"Andarrios, Hortaleza",España,Madrid,Madrid,...,28043,5.0,2.0,NaN,NaN,NaN,5.0,554.0,1.0,[{'url': 'https://d.inmofactory.com/1/100202/1...
157313689,157313689,[{'url': 'https://my.matterport.com/show/?m=fi...,405000,2021-02-19 15:40:40.138,"Gilmar ofrece, magnifica Vivienda, Ubicada en ...",/es/comprar/vivienda/madrid-capital/aire-acond...,Chamartín,España,Madrid,Madrid,...,28002,1.0,3.0,1.0,7.0,NaN,3.0,80.0,NaN,[{'url': 'https://my.matterport.com/show/?m=fi...
153519540,153519540,[{'url': 'https://d.inmofactory.com/1/100207/1...,1930000,2021-02-19 15:40:40.138,Gilmar Mirasierra - Puerta de Hierro (91771777...,/es/comprar/vivienda/madrid-capital/aire-acond...,Fuencarral,España,Madrid,Madrid,...,28034,6.0,1.0,NaN,NaN,NaN,5.0,547.0,1.0,[{'url': 'https://d.inmofactory.com/1/100207/1...
154298390,154298390,[{'url': 'https://images.inmofactory.com/inmof...,1930000,2021-02-19 15:40:40.138,Gilmar Mirasierra - Puerta de Hierro (91771777...,/es/comprar/vivienda/madrid-capital/aire-acond...,Fuencarral,España,Madrid,Madrid,...,28034,6.0,1.0,NaN,NaN,NaN,5.0,547.0,1.0,[{'url': 'https://images.inmofactory.com/inmof...
158184418,158184418,[{'url': 'https://d.inmofactory.com/1/89548/26...,485000,2021-02-19 15:40:40.138,"Magnifica vivienda en Ciudad Jardín, \r\n\r\nP...",/es/comprar/vivienda/madrid-capital/calefaccio...,Chamartín,España,Madrid,Madrid,...,28002,2.0,4.0,1.0,8.0,NaN,4.0,133.0,NaN,[{'url': 'https://d.inmofactory.com/1/89548/26...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158823456,158823456,[{'url': 'https://d.inmofactory.com/1/85276/27...,115000,2021-02-05 11:43:44.497,Piso para actualizar en Zona Hellín.\r\n\r\nFa...,/es/comprar/vivienda/madrid-capital/aire-acond...,"Calle de Hinojosa del Duque, San Blas",España,Madrid,Madrid,...,28037,1.0,4.0,NaN,6.0,NaN,3.0,62.0,NaN,[{'url': 'https://d.inmofactory.com/1/85276/27...
158823310,158823310,[{'url': 'https://d.inmofactory.com/1/85276/27...,179000,2021-02-05 11:35:14.360,"Magnífico dúplex loft a dos alturas, totalment...",/es/comprar/vivienda/madrid-capital/aire-acond...,"Carretera de Vicálvaro a la Estac. O'donnell, ...",España,Madrid,Madrid,...,28032,2.0,NaN,1.0,6.0,NaN,2.0,83.0,1.0,[{'url': 'https://d.inmofactory.com/1/85276/27...
158823307,158823307,[{'url': 'https://d.inmofactory.com/1/98925/27...,137000,2021-02-05 11:34:53.280,"Luminosa vivienda de 56 m2, amplio salón con c...",/es/comprar/vivienda/madrid-capital/aire-acond...,"Calle Garganchón, Barajas",España,Madrid,Madrid,...,28042,1.0,3.0,NaN,6.0,NaN,1.0,56.0,NaN,[{'url': 'https://d.inmofactory.com/1/98925/27...
158823262,158823262,[{'url': 'https://d.inmofactory.com/1/85276/27...,115000,2021-02-05 11:31:41.277,"Fantástico Piso en zona Simancas, Impecable, t...",/es/comprar/vivienda/madrid-capital/aire-acond...,"Calle de Zubieta, San Blas",España,Madrid,Madrid,...,28037,1.0,1.0,NaN,NaN,NaN,2.0,48.0,NaN,[{'url': 'https://d.inmofactory.com/1/85276/27...
158823219,158823219,[{'url': 'https://d.inmofactory.com/1/88669/27...,380000,2021-02-05 11:29:45.217,"""Piso inteio, muy tranquilo en el corazón del ...",/es/comprar/vivienda/madrid-capital/aire-acond...,"Calle del Conde de Peñalver, 30, Salamanca",España,Madrid,Madrid,...,28006,1.0,2.0,1.0,6.0,NaN,2.0,90.0,NaN,[{'url': 'https://d.inmofactory.com/1/88669/27...

## Column - Detail.es

In [306]:
sale.to_json('Madrid_salev1.json', orient='records')

In [ ]:
price['value'] = price['value'].map(lambda x: str(x).strip('[]'))

In [311]:
sale['detail.es'] = sale['detail.es'].map(lambda x: x.strip('/es/comprar/vivienda/madrid-capital/'))

In [313]:
sale

,id,multimedias,price,date,description,detail.es,address.ubication,address.location.country,address.location.level1,address.location.level2,...,address.zipCode,bathrooms,conservationState,elevator,floor,parking,rooms,surface,terrace,multimedia
id,,,,,,,,,,,,,,,,,,,,,
150476642,150476642,[{'url': 'https://d.inmofactory.com/1/100202/1...,2200000,2021-02-19 15:40:40.138,"GILMAR Consulting Inmobiliario Madrid, Conde O...",faccion-jardin-terraza-trastero-patio-piscina/...,"Andarrios, Hortaleza",España,Madrid,Madrid,...,28043,5.0,2.0,NaN,NaN,NaN,5.0,554.0,1.0,[{'url': 'https://d.inmofactory.com/1/100202/1...
157313689,157313689,[{'url': 'https://my.matterport.com/show/?m=fi...,405000,2021-02-19 15:40:40.138,"Gilmar ofrece, magnifica Vivienda, Ubicada en ...",faccion-parking-ascensor/157313689,Chamartín,España,Madrid,Madrid,...,28002,1.0,3.0,1.0,7.0,NaN,3.0,80.0,NaN,[{'url': 'https://my.matterport.com/show/?m=fi...
153519540,153519540,[{'url': 'https://d.inmofactory.com/1/100207/1...,1930000,2021-02-19 15:40:40.138,Gilmar Mirasierra - Puerta de Hierro (91771777...,king-jardin-terraza-trastero-piscina/153519540,Fuencarral,España,Madrid,Madrid,...,28034,6.0,1.0,NaN,NaN,NaN,5.0,547.0,1.0,[{'url': 'https://d.inmofactory.com/1/100207/1...
154298390,154298390,[{'url': 'https://images.inmofactory.com/inmof...,1930000,2021-02-19 15:40:40.138,Gilmar Mirasierra - Puerta de Hierro (91771777...,king-jardin-terraza-trastero-piscina/154298390,Fuencarral,España,Madrid,Madrid,...,28034,6.0,1.0,NaN,NaN,NaN,5.0,547.0,1.0,[{'url': 'https://images.inmofactory.com/inmof...
158184418,158184418,[{'url': 'https://d.inmofactory.com/1/89548/26...,485000,2021-02-19 15:40:40.138,"Magnifica vivienda en Ciudad Jardín, \r\n\r\nP...",faccion-ascensor/158184418,Chamartín,España,Madrid,Madrid,...,28002,2.0,4.0,1.0,8.0,NaN,4.0,133.0,NaN,[{'url': 'https://d.inmofactory.com/1/89548/26...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158823456,158823456,[{'url': 'https://d.inmofactory.com/1/85276/27...,115000,2021-02-05 11:43:44.497,Piso para actualizar en Zona Hellín.\r\n\r\nFa...,faccion/158823456,"Calle de Hinojosa del Duque, San Blas",España,Madrid,Madrid,...,28037,1.0,4.0,NaN,6.0,NaN,3.0,62.0,NaN,[{'url': 'https://d.inmofactory.com/1/85276/27...
158823310,158823310,[{'url': 'https://d.inmofactory.com/1/85276/27...,179000,2021-02-05 11:35:14.360,"Magnífico dúplex loft a dos alturas, totalment...",faccion-parking-terraza-ascensor-amueblado/158...,"Carretera de Vicálvaro a la Estac. O'donnell, ...",España,Madrid,Madrid,...,28032,2.0,NaN,1.0,6.0,NaN,2.0,83.0,1.0,[{'url': 'https://d.inmofactory.com/1/85276/27...
158823307,158823307,[{'url': 'https://d.inmofactory.com/1/98925/27...,137000,2021-02-05 11:34:53.280,"Luminosa vivienda de 56 m2, amplio salón con c...",faccion-amueblado/158823307,"Calle Garganchón, Barajas",España,Madrid,Madrid,...,28042,1.0,3.0,NaN,6.0,NaN,1.0,56.0,NaN,[{'url': 'https://d.inmofactory.com/1/98925/27...
158823262,158823262,[{'url': 'https://d.inmofactory.com/1/85276/27...,115000,2021-02-05 11:31:41.277,"Fantástico Piso en zona Simancas, Impecable, t...",faccion-no-amueblado/158823262,"Calle de Zubieta, San Blas",España,Madrid,Madrid,...,28037,1.0,1.0,NaN,NaN,NaN,2.0,48.0,NaN,[{'url': 'https://d.inmofactory.com/1/85276/27...
158823219,158823219,[{'url': 'https://d.inmofactory.com/1/88669/27...,380000,2021-02-05 11:29:45.217,"""Piso inteio, muy tranquilo en el corazón del ...",faccion-ascensor-patio-amueblado/158823219,"Calle del Conde de Peñalver, 30, Salamanca",España,Madrid,Madrid,...,28006,1.0,2.0,1.0,6.0,NaN,2.0,90.0,NaN,[{'url': 'https://d.inmofactory.com/1/88669/27...

In [315]:
sale = sale.drop(['multimedias'], axis=1)

In [343]:
sale = sale.drop(['address.location.level2'], axis=1)

In [330]:
zona = sale['address.location.level3'].apply(pd.Series)

In [396]:
sale = sale.drop(['address.location.level8Id'], axis=1)

In [382]:
sale.columns

Index(['id', 'price', 'date', 'customer_description', 'short_detail',
       'address', 'country', 'neighborhood', 'district',
       'address.location.level5Id', 'address.location.level7Id',
       'address.location.level8Id', 'address.coordinates.accuracy',
       'address.coordinates.latitude', 'address.coordinates.longitude',
       'address.zipCode', 'bathrooms', 'conservationState', 'elevator',
       'floor', 'parking', 'rooms', 'surface', 'terrace', 'multimedia'],
      dtype='object')

In [410]:
cols = ['id', 'price', 'publish_date', 'customer_description', 'short_detail',
       'address', 'country', 'neighborhood', 'district',
       'coordinates.accuracy', 'coordinates.latitude',
       'coordinates.longitude', 'zipCode', 'bathrooms', 'conservationState',
       'elevator', 'floor', 'parking', 'rooms', 'surface', 'terrace',
       'multimedia']

In [411]:
sale.columns

Index(['id', 'price', 'date', 'customer_description', 'short_detail',
       'address', 'country', 'neighborhood', 'district',
       'address.coordinates.accuracy', 'coordinates.latitude',
       'coordinates.longitude', 'zipCode', 'bathrooms', 'conservationState',
       'elevator', 'floor', 'parking', 'rooms', 'surface', 'terrace',
       'multimedia'],
      dtype='object')

In [412]:
sale

,id,price,date,customer_description,short_detail,address,country,neighborhood,district,address.coordinates.accuracy,...,zipCode,bathrooms,conservationState,elevator,floor,parking,rooms,surface,terrace,multimedia
id,,,,,,,,,,,,,,,,,,,,,
150476642,150476642,2200000,2021-02-19 15:40:40.138,"GILMAR Consulting Inmobiliario Madrid, Conde O...",faccion-jardin-terraza-trastero-patio-piscina/...,"Andarrios, Hortaleza",España,Hortaleza,Conde Orgaz - Piovera,0,...,28043,5.0,2.0,NaN,NaN,NaN,5.0,554.0,1.0,[{'url': 'https://d.inmofactory.com/1/100202/1...
157313689,157313689,405000,2021-02-19 15:40:40.138,"Gilmar ofrece, magnifica Vivienda, Ubicada en ...",faccion-parking-ascensor/157313689,Chamartín,España,Chamartín,Prosperidad,0,...,28002,1.0,3.0,1.0,7.0,NaN,3.0,80.0,NaN,[{'url': 'https://my.matterport.com/show/?m=fi...
153519540,153519540,1930000,2021-02-19 15:40:40.138,Gilmar Mirasierra - Puerta de Hierro (91771777...,king-jardin-terraza-trastero-piscina/153519540,Fuencarral,España,Fuencarral,Tres Olivos - Valverde,0,...,28034,6.0,1.0,NaN,NaN,NaN,5.0,547.0,1.0,[{'url': 'https://d.inmofactory.com/1/100207/1...
154298390,154298390,1930000,2021-02-19 15:40:40.138,Gilmar Mirasierra - Puerta de Hierro (91771777...,king-jardin-terraza-trastero-piscina/154298390,Fuencarral,España,Fuencarral,Tres Olivos - Valverde,0,...,28034,6.0,1.0,NaN,NaN,NaN,5.0,547.0,1.0,[{'url': 'https://images.inmofactory.com/inmof...
158184418,158184418,485000,2021-02-19 15:40:40.138,"Magnifica vivienda en Ciudad Jardín, \r\n\r\nP...",faccion-ascensor/158184418,Chamartín,España,Chamartín,Ciudad Jardín,0,...,28002,2.0,4.0,1.0,8.0,NaN,4.0,133.0,NaN,[{'url': 'https://d.inmofactory.com/1/89548/26...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158823456,158823456,115000,2021-02-05 11:43:44.497,Piso para actualizar en Zona Hellín.\r\n\r\nFa...,faccion/158823456,"Calle de Hinojosa del Duque, San Blas",España,San Blas,Hellín,0,...,28037,1.0,4.0,NaN,6.0,NaN,3.0,62.0,NaN,[{'url': 'https://d.inmofactory.com/1/85276/27...
158823310,158823310,179000,2021-02-05 11:35:14.360,"Magnífico dúplex loft a dos alturas, totalment...",faccion-parking-terraza-ascensor-amueblado/158...,"Carretera de Vicálvaro a la Estac. O'donnell, ...",España,San Blas,Rosas - Musas,0,...,28032,2.0,NaN,1.0,6.0,NaN,2.0,83.0,1.0,[{'url': 'https://d.inmofactory.com/1/85276/27...
158823307,158823307,137000,2021-02-05 11:34:53.280,"Luminosa vivienda de 56 m2, amplio salón con c...",faccion-amueblado/158823307,"Calle Garganchón, Barajas",España,Barajas,Aeropuerto,0,...,28042,1.0,3.0,NaN,6.0,NaN,1.0,56.0,NaN,[{'url': 'https://d.inmofactory.com/1/98925/27...
158823262,158823262,115000,2021-02-05 11:31:41.277,"Fantástico Piso en zona Simancas, Impecable, t...",faccion-no-amueblado/158823262,"Calle de Zubieta, San Blas",España,San Blas,Simancas,0,...,28037,1.0,1.0,NaN,NaN,NaN,2.0,48.0,NaN,[{'url': 'https://d.inmofactory.com/1/85276/27...
158823219,158823219,380000,2021-02-05 11:29:45.217,"""Piso inteio, muy tranquilo en el corazón del ...",faccion-ascensor-patio-amueblado/158823219,"Calle del Conde de Peñalver, 30, Salamanca",España,Salamanca,Goya,1,...,28006,1.0,2.0,1.0,6.0,NaN,2.0,90.0,NaN,[{'url': 'https://d.inmofactory.com/1/88669/27...

In [405]:
sale['address.coordinates.accuracy']

(9280,)

In [366]:
sale.to_json('Madrid_salev1.json', orient='records')

## New_Column Price m2

In [419]:
sale['Price_m2'] = round(sale['price']/sale['surface'], 0)

In [426]:
sale.Price_m2.colanme

In [428]:
sale.rename(columns={'Price_m2':'price_m2'}, inplace=True)

In [430]:
sale.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9280 entries, 150476642 to 158823219
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            9280 non-null   int64
 1   price                         9280 non-null   int64
 2   date                          9280 non-null   datetime64[ns]
 3   customer_description          9233 non-null   object
 4   short_detail                  9280 non-null   object
 5   address                       9280 non-null   object
 6   country                       9280 non-null   object
 7   neighborhood                  9280 non-null   object
 8   district                      9280 non-null   object
 9   address.coordinates.accuracy  9280 non-null   int64
 10  coordinates.latitude          9280 non-null   float64
 11  coordinates.longitude         9280 non-null   float64
 12  zipCode                       9280 non-null   object
 13  bathrooms                     9134 non-null   float64
 14  conservationState             4820 non-null   float64
 15  elevator                      5632 non-null   float64
 16  floor                         6507 non-null   float64
 17  parking                       887 non-null    float64
 18  rooms                         8995 non-null   float64
 19  surface                       9257 non-null   float64
 20  terrace                       3181 non-null   float64
 21  multimedia                    9280 non-null   object
 22  price_m2                      9257 non-null   float64
dtypes: datetime64[ns](1), float64(11), int64(3), object(8)
memory usage: 2.0+ MB

In [434]:
sale.to_json('Madrid_salev1.json', orient='records')

In [445]:
sale['customer_description'] = sale['customer_description'].apply(lambda x : str(x).strip('\r\n\r\n'))

In [447]:
sale['customer_description'].values[1]

'Gilmar ofrece, magnifica Vivienda, Ubicada en Prosperidad, zona norte de Madrid. Piso exterior, con una superficie construida de 80 m2 catastrales, 71 m2 útiles, distribuidos en: Hall de entrada espacioso, 3 buenos Dormitorios, 1 Cuarto de baño completo, salón-comedor, cocina independiente y equipada. Dispone de Calefacción Central, suelos de Tarima. 4 armarios empotrados, puerta de seguridad.\r\n\r\nLa finca dispone de portero físico, acceso a personas con movilidad reducida.\r\n\r\nEl barrio ya consolidado y excelentemente comunicado cuenta con zonas deportivas, colegios, iglesias, guarderías, gran oferta de restaurantes, terrazas, pequeño comercio y supermercados, así como parques y amplias zonas verdes. Con acceso directo a la M-30, que comunica tanto al resto de la red arterial como al aeropuerto, Igualmente cercano se encuentra el intercambiador de autobuses de la Avda. de América y las líneas de autobuses de la EMT números: 9, 40, 72, 73, 120,43 y cercana la estación de metro Alfonso XIII."\r\n\r\nComercializa Consulting Inmobiliario Gilmar Avenida America 91 771 77 99.\r\n\r\nEl Barrio de Prosperidad, Chamartín es una de las zonas más demandadas del distrito por su gran ambiente familiar y multitud de servicios, sin abandonar el entorno de zonas verdes por el que se caracteriza este distinguido distrito. Chamartín. Dispone de una gran variedad de zonas de ocio como el Auditorio Nacional de Música o el Parque de Berlín. Las necesidades básicas familiares, están totalmente cubiertas por diversidad de comercios, tiendas tradicionales, galerías comerciales con los productos más frescos e incluso famosos supermercados de grandes superficies. La arquitectura por la que se rodea la zona ronda desde edificios clásicos hasta algunos de los edificios más modernos de la capital como el IBM o el Hotel Silken Puerta de América. \r\n\r\nLa zona es conocida también por sus centros educativos. Colegios públicos dentro de los mejores catalogados, así como gran variedad de colegios privados bilingües y de gran relevancia. Todo, sin olvidarse de universidades tan conocidas como la escuela universitaria de diseño, innovación y tecnología ESNE.\r\n\r\nExiste también en la zona, el polideportivo municipal “El Pradillo”, para practicar todo tipo de deportes, en cualquier época del año.\r\n\r\nLa red de transporte público de la zona garantiza gran comodidad al contar con las paradas de metro de Prosperidad, Cartagena, Alfonso XIII y a un paseo del intercambiador de Avenida de América que cuenta con multitud de conexiones con líneas de autobús (40,43,72,9) Asimismo, dispone de un rápido acceso a algunas de las carreteras más destacadas de Madrid como la M30 y A2, que le conducirán en pocos minutos al aeropuerto.'

In [449]:
sale.to_json('Madrid_salev1.json', orient='records')

## To SQL >>>>

In [2]:
sale = pd.read_json('Madrid_salev1.json', orient='records')

In [3]:
sale

,id,price,date,customer_description,short_detail,address,country,neighborhood,district,address.coordinates.accuracy,...,bathrooms,conservationState,elevator,floor,parking,rooms,surface,terrace,multimedia,price_m2
0,150476642,2200000,2021-02-19 15:40:40.138,"GILMAR Consulting Inmobiliario Madrid, Conde O...",faccion-jardin-terraza-trastero-patio-piscina/...,"Andarrios, Hortaleza",España,Hortaleza,Conde Orgaz - Piovera,0,...,5.0,2.0,NaN,NaN,NaN,5.0,554.0,1.0,[{'url': 'https://d.inmofactory.com/1/100202/1...,3971.0
1,157313689,405000,2021-02-19 15:40:40.138,"Gilmar ofrece, magnifica Vivienda, Ubicada en ...",faccion-parking-ascensor/157313689,Chamartín,España,Chamartín,Prosperidad,0,...,1.0,3.0,1.0,7.0,NaN,3.0,80.0,NaN,[{'url': 'https://my.matterport.com/show/?m=fi...,5062.0
2,153519540,1930000,2021-02-19 15:40:40.138,Gilmar Mirasierra - Puerta de Hierro (91771777...,king-jardin-terraza-trastero-piscina/153519540,Fuencarral,España,Fuencarral,Tres Olivos - Valverde,0,...,6.0,1.0,NaN,NaN,NaN,5.0,547.0,1.0,[{'url': 'https://d.inmofactory.com/1/100207/1...,3528.0
3,154298390,1930000,2021-02-19 15:40:40.138,Gilmar Mirasierra - Puerta de Hierro (91771777...,king-jardin-terraza-trastero-piscina/154298390,Fuencarral,España,Fuencarral,Tres Olivos - Valverde,0,...,6.0,1.0,NaN,NaN,NaN,5.0,547.0,1.0,[{'url': 'https://images.inmofactory.com/inmof...,3528.0
4,158184418,485000,2021-02-19 15:40:40.138,"Magnifica vivienda en Ciudad Jardín, \r\n\r\nP...",faccion-ascensor/158184418,Chamartín,España,Chamartín,Ciudad Jardín,0,...,2.0,4.0,1.0,8.0,NaN,4.0,133.0,NaN,[{'url': 'https://d.inmofactory.com/1/89548/26...,3647.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9275,158823456,115000,2021-02-05 11:43:44.497,Piso para actualizar en Zona Hellín.\r\n\r\nFa...,faccion/158823456,"Calle de Hinojosa del Duque, San Blas",España,San Blas,Hellín,0,...,1.0,4.0,NaN,6.0,NaN,3.0,62.0,NaN,[{'url': 'https://d.inmofactory.com/1/85276/27...,1855.0
9276,158823310,179000,2021-02-05 11:35:14.360,"Magnífico dúplex loft a dos alturas, totalment...",faccion-parking-terraza-ascensor-amueblado/158...,"Carretera de Vicálvaro a la Estac. O'donnell, ...",España,San Blas,Rosas - Musas,0,...,2.0,NaN,1.0,6.0,NaN,2.0,83.0,1.0,[{'url': 'https://d.inmofactory.com/1/85276/27...,2157.0
9277,158823307,137000,2021-02-05 11:34:53.280,"Luminosa vivienda de 56 m2, amplio salón con c...",faccion-amueblado/158823307,"Calle Garganchón, Barajas",España,Barajas,Aeropuerto,0,...,1.0,3.0,NaN,6.0,NaN,1.0,56.0,NaN,[{'url': 'https://d.inmofactory.com/1/98925/27...,2446.0
9278,158823262,115000,2021-02-05 11:31:41.277,"Fantástico Piso en zona Simancas, Impecable, t...",faccion-no-amueblado/158823262,"Calle de Zubieta, San Blas",España,San Blas,Simancas,0,...,1.0,1.0,NaN,NaN,NaN,2.0,48.0,NaN,[{'url': 'https://d.inmofactory.com/1/85276/27...,2396.0
9279,158823219,380000,2021-02-05 11:29:45.217,"""Piso inteio, muy tranquilo en el corazón del ...",faccion-ascensor-patio-amueblado/158823219,"Calle del Conde de Peñalver, 30, Salamanca",España,Salamanca,Goya,1,...,1.0,2.0,1.0,6.0,NaN,2.0,90.0,NaN,[{'url': 'https://d.inmofactory.com/1/88669/27...,4222.0

In [4]:
sale.to_csv('Madrid_salev1.csv', index=False)

In [5]:
username='root'
password='password'
server='localhost'
database='madrid'
password=getpass()
engine = create_engine(f'mysql+pymysql://{username}:{password}@{server}/{database}')

········

In [6]:
inspector = inspect(engine)
inspector.get_table_names()

[]

In [8]:
for_sale = pd.read_csv('Madrid_salev1.csv')

### Import table to SQL Madrid Schema

In [9]:
for_sale.to_sql('sale', con=engine,index=False,if_exists='append')

In [10]:
inspector = inspect(engine)
inspector.get_table_names()

['sale']

In [11]:
sale.columns

Index(['id', 'price', 'date', 'customer_description', 'short_detail',
       'address', 'country', 'neighborhood', 'district',
       'address.coordinates.accuracy', 'coordinates.latitude',
       'coordinates.longitude', 'zipCode', 'bathrooms', 'conservationState',
       'elevator', 'floor', 'parking', 'rooms', 'surface', 'terrace',
       'multimedia', 'price_m2'],
      dtype='object')

## Start Cleanning Flats for Rent

In [74]:
rent = pd.read_json('Madrid_rent.json', orient='records')

In [75]:
rent

,id,promotionId,typeId,subtypeId,isNew,isPremium,multimedias,features,otherFeatures,transactions,...,address.location.level5Id,address.location.level6Id,address.location.level7Id,address.location.level8Id,address.coordinates.accuracy,address.coordinates.latitude,address.coordinates.longitude,address.zipCode,address.customZone,advertiser.logo
0,157612297,0,2,1,False,True,[{'url': 'https://d.inmofactory.com/1/86845/22...,"[{'key': 'bathrooms', 'value': [2], 'minValue'...",NaN,"[{'transactionTypeId': 3, 'value': [1400], 're...",...,28079,0,199,122,1,40.41804,-3.674870,28009,NaN,NaN
1,156275511,0,2,1,False,True,[{'url': 'https://d.inmofactory.com/1/97827/97...,"[{'key': 'bathrooms', 'value': [2], 'minValue'...",NaN,"[{'transactionTypeId': 3, 'value': [1100], 're...",...,28079,0,676,78,0,40.44377,-3.633442,28027,NaN,NaN
2,157447223,0,2,2,False,True,[{'url': 'https://d.inmofactory.com/1/86864/48...,"[{'key': 'bathrooms', 'value': [1], 'minValue'...",NaN,"[{'transactionTypeId': 3, 'value': [780], 'red...",...,28079,0,667,20,0,40.43719,-3.674235,28028,NaN,NaN
3,156282920,0,2,1,False,True,[{'url': 'https://d.inmofactory.com/1/86864/22...,"[{'key': 'bathrooms', 'value': [2], 'minValue'...",NaN,"[{'transactionTypeId': 3, 'value': [1700], 're...",...,28079,0,667,20,0,40.43322,-3.670206,28028,NaN,NaN
4,158073481,0,2,1,False,True,[{'url': 'https://d.inmofactory.com/1/97827/26...,"[{'key': 'bathrooms', 'value': [2], 'minValue'...",NaN,"[{'transactionTypeId': 3, 'value': [1500], 're...",...,28079,0,676,78,0,40.44605,-3.625998,28027,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,158656257,0,2,6,False,False,[{'url': 'https://d.inmofactory.com/1/107685/2...,"[{'key': 'bathrooms', 'value': [1], 'minValue'...",NaN,"[{'transactionTypeId': 3, 'value': [950], 'red...",...,28079,0,176,114,0,40.45871,-3.674893,28016,NaN,NaN
2352,158245390,0,2,1,False,False,[{'url': 'https://d.inmofactory.com/1/118430/2...,"[{'key': 'bathrooms', 'value': [2], 'minValue'...",NaN,"[{'transactionTypeId': 3, 'value': [1250], 're...",...,28079,0,671,42,0,40.40918,-3.721197,28005,NaN,NaN
2353,156156495,0,2,1,False,False,[{'url': 'https://d.inmofactory.com/1/86593/22...,"[{'key': 'bathrooms', 'value': [2], 'minValue'...",NaN,"[{'transactionTypeId': 3, 'value': [2000], 're...",...,28079,0,177,142,0,40.44104,-3.695068,28003,NaN,NaN
2354,158619379,0,2,1,False,False,[{'url': 'https://d.inmofactory.com/1/86593/53...,"[{'key': 'bathrooms', 'value': [1], 'minValue'...",NaN,"[{'transactionTypeId': 3, 'value': [600], 'red...",...,28079,0,177,142,1,40.44130,-3.694986,28003,NaN,NaN
2355,157175919,0,2,1,False,False,[{'url': 'https://d.inmofactory.com/1/85553/15...,"[{'key': 'bathrooms', 'value': [1], 'minValue'...",NaN,"[{'transactionTypeId': 3, 'value': [1500], 're...",...,28079,0,669,33,0,40.42593,-3.712181,28003,NaN,NaN

## Duplicated - Rent

In [76]:
rent = rent.set_index(rent['id'])

In [77]:
len(rent)

2356

In [78]:
rent = rent.drop_duplicates(subset=['id'])

In [79]:
len(rent)

2277

## Cleaning Features columm

In [80]:
rent.dtypes

id                                                 int64
promotionId                                        int64
typeId                                             int64
subtypeId                                          int64
isNew                                               bool
isPremium                                           bool
multimedias                                       object
features                                          object
otherFeatures                                    float64
transactions                                      object
products                                          object
date                                 datetime64[ns, UTC]
description                                       object
isTop                                               bool
isPhotoReport                                       bool
isMsAdvance                                         bool
promotionTypeId                                    int64
promotionUrl                                     float64
isExternalContact                                   bool
isVirtualTour                                       bool
advertiser.logo.multimedia.url                    object
advertiser.logo.multimedia.typeId                float64
advertiser.logo.url.es                            object
advertiser.phone                                  object
advertiser.typeId                                  int64
advertiser.clientId                                int64
advertiser.urlAlias                               object
advertiser.clientAlias                            object
detail.es                                         object
address.ubication                                 object
address.location.country                          object
address.location.level1                           object
address.location.level2                           object
address.location.level3                           object
address.location.level4                           object
address.location.level5                           object
address.location.level6                           object
address.location.level7                           object
address.location.level8                           object
address.location.upperLevel                       object
address.location.countryId                         int64
address.location.level1Id                          int64
address.location.level2Id                          int64
address.location.level3Id                          int64
address.location.level4Id                          int64
address.location.level5Id                          int64
address.location.level6Id                          int64
address.location.level7Id                          int64
address.location.level8Id                          int64
address.coordinates.accuracy                       int64
address.coordinates.latitude                     float64
address.coordinates.longitude                    float64
address.zipCode                                    int64
address.customZone                               float64
advertiser.logo                                  float64
dtype: object

In [81]:
rent.index

Int64Index([157612297, 156275511, 157447223, 156282920, 158073481, 157233057,
            158890770, 158898445, 158885578, 158637151,
            ...
            155469142, 156153373, 157308889, 157861410, 158668998, 158656257,
            158245390, 156156495, 158619379, 157175919],
           dtype='int64', name='id', length=2277)

In [82]:
rent.size

125235

In [83]:
rent.head()

,id,promotionId,typeId,subtypeId,isNew,isPremium,multimedias,features,otherFeatures,transactions,...,address.location.level5Id,address.location.level6Id,address.location.level7Id,address.location.level8Id,address.coordinates.accuracy,address.coordinates.latitude,address.coordinates.longitude,address.zipCode,address.customZone,advertiser.logo
id,,,,,,,,,,,,,,,,,,,,,
157612297,157612297,0,2,1,False,True,[{'url': 'https://d.inmofactory.com/1/86845/22...,"[{'key': 'bathrooms', 'value': [2], 'minValue'...",NaN,"[{'transactionTypeId': 3, 'value': [1400], 're...",...,28079,0,199,122,1,40.41804,-3.674870,28009,NaN,NaN
156275511,156275511,0,2,1,False,True,[{'url': 'https://d.inmofactory.com/1/97827/97...,"[{'key': 'bathrooms', 'value': [2], 'minValue'...",NaN,"[{'transactionTypeId': 3, 'value': [1100], 're...",...,28079,0,676,78,0,40.44377,-3.633442,28027,NaN,NaN
157447223,157447223,0,2,2,False,True,[{'url': 'https://d.inmofactory.com/1/86864/48...,"[{'key': 'bathrooms', 'value': [1], 'minValue'...",NaN,"[{'transactionTypeId': 3, 'value': [780], 'red...",...,28079,0,667,20,0,40.43719,-3.674235,28028,NaN,NaN
156282920,156282920,0,2,1,False,True,[{'url': 'https://d.inmofactory.com/1/86864/22...,"[{'key': 'bathrooms', 'value': [2], 'minValue'...",NaN,"[{'transactionTypeId': 3, 'value': [1700], 're...",...,28079,0,667,20,0,40.43322,-3.670206,28028,NaN,NaN
158073481,158073481,0,2,1,False,True,[{'url': 'https://d.inmofactory.com/1/97827/26...,"[{'key': 'bathrooms', 'value': [2], 'minValue'...",NaN,"[{'transactionTypeId': 3, 'value': [1500], 're...",...,28079,0,676,78,0,40.44605,-3.625998,28027,NaN,NaN

## Cleannning Features Rent

In [86]:
pd.DataFrame(rent['features'])

                                                    features
id
157612297  [{'key': 'bathrooms', 'value': [2], 'minValue'...
156275511  [{'key': 'bathrooms', 'value': [2], 'minValue'...
157447223  [{'key': 'bathrooms', 'value': [1], 'minValue'...
156282920  [{'key': 'bathrooms', 'value': [2], 'minValue'...
158073481  [{'key': 'bathrooms', 'value': [2], 'minValue'...
...                                                      ...
158656257  [{'key': 'bathrooms', 'value': [1], 'minValue'...
158245390  [{'key': 'bathrooms', 'value': [2], 'minValue'...
156156495  [{'key': 'bathrooms', 'value': [2], 'minValue'...
158619379  [{'key': 'bathrooms', 'value': [1], 'minValue'...
157175919  [{'key': 'bathrooms', 'value': [1], 'minValue'...

[2277 rows x 1 columns]

In [87]:
features = pd.DataFrame(rent['features'])

In [88]:
features = features['features'].apply(pd.Series)

In [89]:
feats0 = features[0].apply(pd.Series)
feats1 = features[1].apply(pd.Series)
feats2 = features[2].apply(pd.Series)
feats3 = features[3].apply(pd.Series)
feats4 = features[4].apply(pd.Series)
feats5 = features[5].apply(pd.Series)
feats6 = features[6].apply(pd.Series)
feats7 = features[7].apply(pd.Series)

In [90]:
feats0 = features[0].apply(pd.Series)
feats1 = features[1].apply(pd.Series)
feats2 = features[2].apply(pd.Series)
feats3 = features[3].apply(pd.Series)
feats4 = features[4].apply(pd.Series)
feats5 = features[5].apply(pd.Series)
feats6 = features[6].apply(pd.Series)
feats7 = features[7].apply(pd.Series)

In [91]:
feats0['value'] = feats0['value'].map(lambda x: str(x).strip('[]'))
feats1['value'] = feats1['value'].map(lambda x: str(x).strip('[]'))
feats2['value'] = feats2['value'].map(lambda x: str(x).strip('[]'))
feats3['value'] = feats3['value'].map(lambda x: str(x).strip('[]'))
feats4['value'] = feats4['value'].map(lambda x: str(x).strip('[]'))
feats5['value'] = feats5['value'].map(lambda x: str(x).strip('[]'))
feats6['value'] = feats6['value'].map(lambda x: str(x).strip('[]'))
feats7['value'] = feats7['value'].map(lambda x: str(x).strip('[]'))

In [92]:
feats0['value'] = feats0['value'].astype('float')
feats1['value'] = feats1['value'].astype('float')
feats2['value'] = feats2['value'].astype('float')
feats3['value'] = feats3['value'].astype('float')
feats4['value'] = feats4['value'].astype('float')
feats5['value'] = feats5['value'].astype('float')
feats6['value'] = feats6['value'].astype('float')
feats7['value'] = feats7['value'].astype('float')

In [93]:
feats0['value'] = feats0['value'].fillna(value=0)
feats1['value'] = feats1['value'].fillna(value=0)
feats2['value'] = feats2['value'].fillna(value=0)
feats3['value'] = feats3['value'].fillna(value=0)
feats4['value'] = feats4['value'].fillna(value=0)
feats5['value'] = feats5['value'].fillna(value=0)
feats6['value'] = feats6['value'].fillna(value=0)
feats7['value'] = feats7['value'].fillna(value=0)

In [94]:
feats0['value'] = feats0['value'].astype('int64')
feats1['value'] = feats1['value'].astype('int64')
feats2['value'] = feats2['value'].astype('int64')
feats3['value'] = feats3['value'].astype('int64')
feats4['value'] = feats4['value'].astype('int64')
feats5['value'] = feats5['value'].astype('int64')
feats6['value'] = feats6['value'].astype('int64')
feats7['value'] = feats7['value'].astype('int64')

In [95]:
feats0 = pd.pivot_table(feats0, index=['id'], columns=feats0['key'])
feats1 = pd.pivot_table(feats1, index=['id'], columns=feats1['key'])
feats2 = pd.pivot_table(feats2, index=['id'], columns=feats2['key'])
feats3 = pd.pivot_table(feats3, index=['id'], columns=feats3['key'])
feats4 = pd.pivot_table(feats4, index=['id'], columns=feats4['key'])
feats5 = pd.pivot_table(feats5, index=['id'], columns=feats5['key'])
feats6 = pd.pivot_table(feats6, index=['id'], columns=feats6['key'])
feats7 = pd.pivot_table(feats7, index=['id'], columns=feats7['key'])

In [96]:
right0 = feats0.add(feats1, fill_value=0)
right1 = feats2.add(feats3, fill_value=0)
right2 = feats4.add(feats5, fill_value=0)
right3 = feats6.add(feats7, fill_value=0)
right4 = right0.add(right1, fill_value=0)
right5 = right2.add(right3, fill_value=0)
features_d = right4.add(right5, fill_value=0)

In [97]:
features_d

           maxValue                                                         \
key       bathrooms conservationState elevator floor parking rooms surface
id
136071016       0.0               0.0      0.0   0.0     NaN   0.0     0.0
136914670       0.0               0.0      0.0   0.0     NaN   0.0     0.0
145255644       0.0               0.0      0.0   NaN     0.0   0.0     0.0
146204865       0.0               NaN      0.0   0.0     NaN   0.0     0.0
146842265       0.0               0.0      0.0   NaN     NaN   0.0     0.0
...             ...               ...      ...   ...     ...   ...     ...
158983628       0.0               0.0      0.0   0.0     NaN   0.0     0.0
158983629       0.0               NaN      0.0   0.0     NaN   0.0     0.0
158983631       0.0               NaN      0.0   0.0     NaN   0.0     0.0
158984314       0.0               0.0      0.0   0.0     0.0   0.0     0.0
158984424       0.0               0.0      0.0   0.0     0.0   0.0     0.0

                   minValue                    ...                     value  \
key       terrace bathrooms conservationState  ... surface terrace bathrooms
id                                             ...
136071016     0.0       0.0               0.0  ...     0.0     0.0       2.0
136914670     NaN       0.0               0.0  ...     0.0     NaN       3.0
145255644     NaN       0.0               0.0  ...     0.0     NaN       2.0
146204865     NaN       0.0               NaN  ...     0.0     NaN       3.0
146842265     0.0       0.0               0.0  ...     0.0     0.0       3.0
...           ...       ...               ...  ...     ...     ...       ...
158983628     NaN       0.0               0.0  ...     0.0     NaN       2.0
158983629     NaN       0.0               NaN  ...     0.0     NaN       2.0
158983631     0.0       0.0               NaN  ...     0.0     0.0       2.0
158984314     NaN       0.0               0.0  ...     0.0     NaN       3.0
158984424     0.0       0.0               0.0  ...     0.0     0.0       5.0


key       conservationState elevator floor parking rooms surface terrace
id
136071016               1.0      1.0   3.0     NaN   2.0   100.0     1.0
136914670               1.0      1.0  11.0     NaN   3.0   258.0     NaN
145255644               8.0      1.0   NaN     1.0   2.0   157.0     NaN
146204865               NaN      1.0   3.0     NaN   3.0   220.0     NaN
146842265               1.0      1.0   NaN     NaN   4.0   180.0     1.0
...                     ...      ...   ...     ...   ...     ...     ...
158983628               2.0      1.0   8.0     NaN   3.0   130.0     NaN
158983629               NaN      1.0  10.0     NaN   3.0   110.0     NaN
158983631               NaN      1.0   8.0     NaN   3.0   110.0     1.0
158984314               2.0      1.0   3.0     1.0   3.0   135.0     NaN
158984424               2.0      1.0   9.0     1.0   6.0   301.0     1.0

[2277 rows x 24 columns]

In [98]:
rent['bathrooms']=features_d.value['bathrooms']
rent['conservationState'] = features_d.value['conservationState']
rent['elevator'] = features_d.value['elevator']
rent['floor'] = features_d.value['floor']
rent['parking'] = features_d.value['parking']
rent['rooms'] = features_d.value['rooms']
rent['surface'] = features_d.value['surface']
rent['terrace'] = features_d.value['terrace']

In [ ]:
rent.to_json('Madrid_rentv1.json', orient='records')ºb

## Let's go for the price of the fl

In [100]:
price = pd.DataFrame(rent['transactions'])
price = price['transactions'].apply(pd.Series)
price = price[0].apply(pd.Series)
price['value'] = price['value'].map(lambda x: str(x).strip('[]'))
price['value'] = price['value'].astype('int64')
rent['transactions'] = price['value']

In [101]:
rent

,id,promotionId,typeId,subtypeId,isNew,isPremium,multimedias,features,otherFeatures,transactions,...,address.customZone,advertiser.logo,bathrooms,conservationState,elevator,floor,parking,rooms,surface,terrace
id,,,,,,,,,,,,,,,,,,,,,
157612297,157612297,0,2,1,False,True,[{'url': 'https://d.inmofactory.com/1/86845/22...,"[{'key': 'bathrooms', 'value': [2], 'minValue'...",NaN,1400,...,NaN,NaN,2.0,3.0,1.0,8.0,NaN,3.0,105.0,NaN
156275511,156275511,0,2,1,False,True,[{'url': 'https://d.inmofactory.com/1/97827/97...,"[{'key': 'bathrooms', 'value': [2], 'minValue'...",NaN,1100,...,NaN,NaN,2.0,NaN,1.0,7.0,1.0,2.0,90.0,NaN
157447223,157447223,0,2,2,False,True,[{'url': 'https://d.inmofactory.com/1/86864/48...,"[{'key': 'bathrooms', 'value': [1], 'minValue'...",NaN,780,...,NaN,NaN,1.0,NaN,1.0,5.0,NaN,1.0,45.0,1.0
156282920,156282920,0,2,1,False,True,[{'url': 'https://d.inmofactory.com/1/86864/22...,"[{'key': 'bathrooms', 'value': [2], 'minValue'...",NaN,1700,...,NaN,NaN,2.0,2.0,1.0,NaN,1.0,4.0,103.0,1.0
158073481,158073481,0,2,1,False,True,[{'url': 'https://d.inmofactory.com/1/97827/26...,"[{'key': 'bathrooms', 'value': [2], 'minValue'...",NaN,1500,...,NaN,NaN,2.0,2.0,1.0,11.0,1.0,4.0,138.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158656257,158656257,0,2,6,False,False,[{'url': 'https://d.inmofactory.com/1/107685/2...,"[{'key': 'bathrooms', 'value': [1], 'minValue'...",NaN,950,...,NaN,NaN,1.0,NaN,1.0,9.0,NaN,1.0,55.0,1.0
158245390,158245390,0,2,1,False,False,[{'url': 'https://d.inmofactory.com/1/118430/2...,"[{'key': 'bathrooms', 'value': [2], 'minValue'...",NaN,1250,...,NaN,NaN,2.0,NaN,1.0,6.0,NaN,4.0,117.0,NaN
156156495,156156495,0,2,1,False,False,[{'url': 'https://d.inmofactory.com/1/86593/22...,"[{'key': 'bathrooms', 'value': [2], 'minValue'...",NaN,2000,...,NaN,NaN,2.0,NaN,1.0,11.0,NaN,3.0,158.0,NaN
158619379,158619379,0,2,1,False,False,[{'url': 'https://d.inmofactory.com/1/86593/53...,"[{'key': 'bathrooms', 'value': [1], 'minValue'...",NaN,600,...,NaN,NaN,1.0,3.0,1.0,14.0,NaN,NaN,39.0,NaN
157175919,157175919,0,2,1,False,False,[{'url': 'https://d.inmofactory.com/1/85553/15...,"[{'key': 'bathrooms', 'value': [1], 'minValue'...",NaN,1500,...,NaN,NaN,1.0,2.0,1.0,19.0,NaN,2.0,70.0,NaN

## Column - Detail.es

In [103]:
rent['detail.es'] = rent['detail.es'].map(lambda x: x.strip('/es/comprar/vivienda/madrid-capital/'))

## Drop unnecesary columns

In [ ]:
rent = rent.drop(['promotionId', 'typeId', 'subtypeId', 'isNew', 'isPremium', 'otherFeatures', 'isTop', 'isPhotoReport', 'isMsAdvance', 'promotionTypeId', 'promotionUrl', 'isExternalContact', 'isVirtualTour',
       'advertiser.logo.multimedia.url', 'advertiser.logo.multimedia.typeId',
       'advertiser.logo.url.es', 'advertiser.phone', 'advertiser.typeId',
       'advertiser.clientId', 'advertiser.urlAlias', 'advertiser.clientAlias', 'advertiser.logo'], axis=1)

## Rename Cols

In [ ]:
col = ['id', 'multimedias', 'price', 'date', 'description', 'short_detail',
       'address', 'country',
       'city', 'neighborhood',
       'district',
       'address.coordinates.accuracy', 'coordinates.latitude',
       'coordinates.longitude', 'zipCode', 'bathrooms', 'conservationState', 'elevator',
       'floor', 'parking', 'rooms', 'surface', 'terrace']

## New_Column Price m2

In [ ]:
rent['price_m2'] = round(rent['price']/rent['surface'], 0)

## Rent to SQL

In [106]:
username='root'
password='password'
server='localhost'
database='madrid'
password=getpass()
engine = create_engine(f'mysql+pymysql://{username}:{password}@{server}/{database}')

········

In [107]:
inspector = inspect(engine)
inspector.get_table_names()

['rent', 'sale']

In [ ]:
for_rent.to_sql('rent', con=engine,index=False,if_exists='append')